<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>

<body>
    <h1>관광지 날씨조회</h1>
    <button id="btn-weather">클릭</button>
    <div id="box-weather"></div>
</body>
<script>

    $("#btn-weather").click(() => {
        showWeather();
    });

    async function showWeather() {
        let response = await fetch(`/apitest`);
        let responseParse = await response.json();


        for (renderingItem of responseParse.response.body.items.item) {
            $("#box-weather").append(weatherRender());
        }
    }

    function weatherRender() {
        let courseName = renderingItem.courseName
        let courseAreaName = renderingItem.courseAreaName
        let spotAreaName = renderingItem.spotAreaName
        let spotName = renderingItem.spotName
        let tm = renderingItem.tm
        let sky = renderingItem.sky
        let pop = renderingItem.pop



        return `<ul>
            코스명 : ${renderingItem.courseName}
            <li>지역 : ${renderingItem.courseAreaName}${renderingItem.spotAreaName}</li>
            <li>관광지명 : ${renderingItem.spotName}</li>
            <li>예보시간 : ${renderingItem.tm}</li>
            <li>하늘상태 : ${renderingItem.sky}</li>
            <li>강수량 : ${renderingItem.pop}</li>
        </ul>
                `;
    }
</script>

</html>